@import '~normalize.css/normalize.css';
@import '~milligram/dist/milligram.min.css';
@import '~../modal/modal.css';

/* resets */

html { font-size: 100%; }
body { font-size: 1rem; }
h1 {
    font-size: 3.5rem;
    margin: 1rem 0 0 0;
}
h2 { font-size: 2.5rem; }
h3 { font-size: 2.5rem; }

/* defaults */

body {
    min-width: 280px;
    padding: 75px 20px;
    text-align: center;
}

body > img {
    border-radius: 20px;
    transform: rotate(-5deg);
}

a {
    display: block;
}

p {
    margin: 0;
}

.examples {
    margin: 50px 0 75px;
}

button {
    margin: 0;
}

/* modal */

.modal-foobar .modal__wrapper {
    width: 500px;
}